fastapi
fastapi[standard]
httpx
dotenv
uvicorn
langchain_community
tqdm
transformers
langchain_huggingface
aiofiles
newspaper3k
lxml[html_clean]
boto3
python-dotenv
pydantic
pydantic-settings
chromadb
sentence-transformers
huggingface-hub
torch
ollama
redis
llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-embeddings-bedrock
llama-index-llms-bedrock
tavily-python
llama-index-tools-tavily-research
llama-index-llms-ollama
mangum