fastapi
fastapi[standard]
httpx
dotenv
uvicorn
langchain_community
tqdm
transformers==4.35.2
langchain_huggingface
aiofiles
newspaper3k
lxml[html_clean]
boto3
python-dotenv
pydantic
pydantic-settings
chromadb
sentence-transformers==2.6.0
huggingface-hub==0.20.0
torch
ollama
redis
llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
tavily-python
llama-index-tools-tavily-research
llama-index-llms-ollama
mangum